

body {
    font-family: Arial, sans-serif;
    background-color: #7139ca;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #111;
}

.cover-page, .signup-page, .signin-page, .home-page, .financial-services-page, .blog-page, .wallet-page, .walletpin-page, .wallet-homepage, .transfer-page, .transactions-page, .insights-page, .topup-page, .topup-success-page {
    padding: 20px;
    text-align: center;
    background-color: #d3bce3;
    margin: 200px auto;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button, .button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
}

button:hover, .button:hover {
    background-color: #218838;
}
